@import "tailwindcss";

@theme {
  --color-primary: #0a192f;
  --color-light-primary: #112240;
  --color-secondary: #64ffda;
  --color-primary-text: #ccd6f6;

  --color-primary-dim: #8892b0;

  --font-link: "Roboto", sans-serif;
  --font-name: "Monoton", sans-serif;
  --font-primary: "Nunito", sans-serif;
  --font-sec: "Geologica", sans-serif;
}

* {
  @apply box-border;
}

*::selection {
  background-color: var(--color-light-primary);
}

html {
  @apply scroll-smooth;
  scroll-behavior: smooth;
}

body {
  @apply overflow-x-hidden;
}

.freeze * {
  animation-play-state: paused !important;
  transition: none !important;
}